[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tweepy = "*"
pylint = "*"
black = "*"
isort = "*"
langchain = "*"
langchain-ollama = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12.10"

[pipenv]
allow_prereleases = true
